---
- name: Configure sysctl
  sysctl:
    name: "{{ item }}"
    value: "{{ sysctl_settings[item] }}"
    sysctl_file: /etc/sysctl.conf
    reload: yes
  with_items: "{{ sysctl_settings.keys() | list }}"
  notify: reload sysctl

- name: Install iptables-persistent
  debconf:
    name: iptables-persistent
    question: "{{ item }}"
    value: "true"
    vtype: boolean
  loop:
    - iptables-persistent/autosave_v4
    - iptables-persistent/autosave_v6

- name: Ensure iptables-persistent package
  apt:
    name: iptables-persistent
    state: present

- name: Configure NAT rules
  iptables:
    table: nat
    chain: POSTROUTING
    jump: MASQUERADE
    source: "{{ item.value }}"
    out_interface: eth0
  with_dict: "{{ vpn_subnets }}"

- name: Block internal traffic in friends VPN network
  iptables:
    chain: FORWARD
    source: "{{ vpn_subnets.ocserv_friends }}"
    destination: "{{ item }}"
    jump: DROP
  loop:
    - "{{ vpn_subnets.ocserv_friends }}"
    - "{{ vpn_subnets.ocserv_personal }}"
    - "{{ vpn_subnets.wireguard }}"
    - "{{ vpn_subnets.amneziawg }}"
  when: vpn_subnets.ocserv_friends is defined

- name: Allow established connections
  iptables:
    chain: INPUT
    jump: ACCEPT
    ctstate: ESTABLISHED,RELATED

- name: Configure firewall rules for external ports
  iptables:
    chain: INPUT
    jump: ACCEPT
    protocol: "{{ item.value.type }}"
    destination_port: "{{ item.value.port }}"
  loop: "{{ ports.external | dict2items }}"
  when: item.value.type != 'icmp' and item.value.type != 'both'
  notify: save iptables

- name: Configure firewall rules for ports that need both TCP and UDP
  iptables:
    chain: INPUT
    jump: ACCEPT
    protocol: "{{ item[1] }}"
    destination_port: "{{ item[0].value.port }}"
  loop: "{{ ports.external | dict2items | product(['tcp', 'udp']) | list }}"
  when: item[0].value.type == 'both'
  notify: save iptables

- name: Configure firewall rules for UDP port ranges
  iptables:
    chain: INPUT
    jump: ACCEPT
    protocol: udp
    destination_port: "{{ ports.external.coturn_relay_min.port }}:{{ ports.external.coturn_relay_max.port }}"
  when: ports.external.coturn_relay_min is defined
  notify: save iptables

- name: Allow ICMP (Ping)
  iptables:
    chain: INPUT
    jump: ACCEPT
    protocol: icmp
    icmp_type: any
  notify: save iptables

- name: Allow loopback interface
  iptables:
    chain: INPUT
    jump: ACCEPT
    in_interface: lo
  notify: save iptables

- name: Set default policies
  iptables:
    chain: "{{ item.chain }}"
    policy: "{{ item.policy }}"
  loop:
    - {chain: "FORWARD", policy: "ACCEPT"}
    - {chain: "OUTPUT", policy: "ACCEPT"}
    - {chain: "INPUT", policy: "DROP"}
  notify: save iptables