[Interface]
PrivateKey = {{ vault_wg_moscow_clients_private }}
Address = {{ amneziawg_address }}
ListenPort = {{ amneziawg_port }}

# AmneziaWG obfuscation parameters
Jc = {{ amneziawg_obfuscation.jc }}
Jmin = {{ amneziawg_obfuscation.jmin }}
Jmax = {{ amneziawg_obfuscation.jmax }}
S1 = {{ amneziawg_obfuscation.s1 }}
S2 = {{ amneziawg_obfuscation.s2 }}
H1 = {{ amneziawg_obfuscation.h1 }}
H2 = {{ amneziawg_obfuscation.h2 }}
H3 = {{ amneziawg_obfuscation.h3 }}
H4 = {{ amneziawg_obfuscation.h4 }}

{% for peer in vault_wg_peers %}
[Peer]
PublicKey = {{ peer.public }}
AllowedIPs = {{ peer.ip | regex_replace('^10\.66\.66\.', '10.65.65.') }}/32

{% endfor %}
