[Interface]
PrivateKey = {{ amneziawg_private_key.content | b64decode | trim }}
Address = {{ amneziawg_address }}
ListenPort = {{ amneziawg_port }}

# AmneziaWG obfuscation parameters
Jc = {{ amneziawg_obfuscation.jc }}
Jmin = {{ amneziawg_obfuscation.jmin }}
Jmax = {{ amneziawg_obfuscation.jmax }}
S1 = {{ amneziawg_obfuscation.s1 }}
S2 = {{ amneziawg_obfuscation.s2 }}
H1 = {{ amneziawg_obfuscation.h1 }}
H2 = {{ amneziawg_obfuscation.h2 }}
H3 = {{ amneziawg_obfuscation.h3 }}
H4 = {{ amneziawg_obfuscation.h4 }}

{% if amneziawg_peers is defined %}
{% for peer in amneziawg_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.ip }}/32

{% endfor %}
{% endif %}