[Interface]
PrivateKey = {{ item.private_key }}
Address = {{ item.ip }}/32
DNS = 94.140.14.14, 94.140.15.15
MTU = 1420

[Peer]
PublicKey = {{ wireguard_public_key.content | b64decode }}
Endpoint = {{ ansible_facts['default_ipv4']['address'] }}:{{ wireguard_port }}
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
