---
- name: Install wireguard
  apt:
    name: wireguard
    state: present
    update_cache: yes

- name: Create wireguard config directory
  file:
    path: /etc/wireguard
    state: directory
    mode: '0700'

- name: Setup each WireGuard interface
  include_tasks: setup_interface.yml
  loop: "{{ wireguard_interfaces }}"
  loop_control:
    loop_var: wg_iface
  when: wireguard_interfaces is defined
